#
#  Copyright 2022 Davide Bettio <davide@uninstall.it>
#
#  SPDX-License-Identifier: Apache-2.0 OR LGPL-2.1-or-later
#

name: ESP32 Builds

on: [push, pull_request]

jobs:
  esp-idf:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        idf: [v3.3.6, v4.1.3, v4.2.3, v4.3.2, v4.4.1]
    steps:
    - name: Checkout repo
      uses: actions/checkout@v2
      with:
        submodules: 'recursive'
    - name: "Build: customized esp-idf-${{matrix.idf}} container"
      run: docker build -t atomvm/ci-idf:${{matrix.idf}} -f esp-idf-${{matrix.idf}}-dockerfile .
      working-directory: .github/workflows
    - name: "Build: AtomVM (ESP32 platform IDF-${{matrix.idf}})"
      run: docker run --rm -v $PWD:/atomvm -w /atomvm atomvm/ci-idf:${{matrix.idf}} src/platforms/esp32
