#
#  Copyright 2022 Davide Bettio <davide@uninstall.it>
#
#  SPDX-License-Identifier: Apache-2.0 OR LGPL-2.1-or-later
#

name: ESP32 Test

on:
  push:
    paths:
      - '.github/workflows/**'
      - 'CMakeLists.txt'
      - 'src/libAtomVM/**'
      - 'src/platforms/esp32/**'
      - 'src/platforms/generic_unix/**'
      - 'tools/packbeam/**'
  pull_request:
    paths:
      - '.github/workflows/**'
      - 'CMakeLists.txt'
      - 'src/libAtomVM/**'
      - 'src/platforms/esp32/**'
      - 'src/platforms/generic_unix/**'
      - 'tools/packbeam/**'

jobs:
  esp32-test:
    runs-on: ubuntu-latest
    container: espressif/idf:v4.4.5

    strategy:
      fail-fast: false

    defaults:
      run:
        shell: bash
        working-directory: ./src/platforms/esp32/test/

    steps:
    - name: Checkout repo
      uses: actions/checkout@v2

    - name: Install dependencies to build host AtomVM and run qemu
      run: |
        set -eu
        apt update
        DEBIAN_FRONTEND=noninteractive apt install -y -q \
            doxygen erlang-base \
            libglib2.0-0 libpixman-1-0

    - name: Install qemu binary from espressif/qemu
      run: |
        set -eu
        QEMU_VER=esp-develop-20220919
        QEMU_DIST=qemu-${QEMU_VER}.tar.bz2
        QEMU_SHA256=f6565d3f0d1e463a63a7f81aec94cce62df662bd42fc7606de4b4418ed55f870
        wget --no-verbose https://github.com/espressif/qemu/releases/download/${QEMU_VER}/${QEMU_DIST}
        echo "${QEMU_SHA256} *${QEMU_DIST}" | sha256sum --check --strict -
        tar -xf ${QEMU_DIST} -C /opt

    - name: Install pytest and pytest-embedded plugins
      run: |
        set -e
        . $IDF_PATH/export.sh
        pip install pytest==7.0.1 \
            pytest-embedded==1.2.5 \
            pytest-embedded-serial-esp==1.2.5 \
            pytest-embedded-idf==1.2.5 \
            pytest-embedded-qemu==1.2.5

    - name: Patch esp-idf to fix race condition that affects qemu under heavy load
      run: |
        set -e
        PATCH=$PWD/esp_ipc_isr.patch
        cd $IDF_PATH
        patch -p1 < $PATCH

    - name: Build ESP32 tests using idf.py
      run: |
        set -e
        . $IDF_PATH/export.sh
        idf.py build

    - name: Run ESP32 tests using qemu
      timeout-minutes: 10
      run: |
        set -e
        . $IDF_PATH/export.sh
        export PATH=/opt/qemu/bin:${PATH}
        pytest --embedded-services=idf,qemu -s
