#
#  Copyright 2022 Davide Bettio <davide@uninstall.it>
#
#  SPDX-License-Identifier: Apache-2.0 OR LGPL-2.1-or-later
#

name: ESP32 Builds

on:
  push:
    paths:
      - '.github/workflows/**'
      - 'CMakeLists.txt'
      - 'libs/**'
      - 'src/platforms/esp32/**'
      - 'src/libAtomVM/**'
      - 'tools/packbeam/**'
  pull_request:
    paths:
      - '.github/workflows/**'
      - 'src/platforms/esp32/**'
      - 'src/libAtomVM/**'

jobs:
  esp-idf:
    runs-on: ubuntu-latest
    container: espressif/idf:v${{ matrix.idf-version }}

    strategy:
      fail-fast: false

      matrix:
        idf-version:
        - 4.2.4
        - 4.3.5
        - 4.4.4
        - 5.0.2
        - 5.1-rc1

    steps:
    - name: Checkout repo
      uses: actions/checkout@v2

    - name: Build with idf.py
      shell: bash
      working-directory: ./src/platforms/esp32/
      run: |
        . $IDF_PATH/export.sh
        idf.py reconfigure
        idf.py build
        idf.py size
    - name: Print component size info with idf.py
      # size-components doesn't work with a .noinit section on 4.2.x branch.
      # The bug was fixed on later versions and didn't occur on 4.0.x & 3.x
      # https://github.com/espressif/esp-idf/issues/8428
      if: matrix.build-system == 'idf' && matrix.idf-version != '4.2.3'
      shell: bash
      working-directory: ./src/platforms/esp32/
      run: |
        . $IDF_PATH/export.sh
        idf.py size-components
